$primary: #054ddd;
$secondary: #1fd8fd;
$white: #fdfdfd;
$black: #020202;
$gray: #a7a7a7;
$danger: #d60c0c;

// color palette
$colors : (
  "primary" $primary,
  "secondary" $secondary,
  "white" $white,
  "black" $black,
  "gray" $gray,
  "danger" $danger,
)